@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header-nav-bar {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
}

.header-nav-bar-item1 {
  position: absolute;
  width: 85px;
  height: 24px;
  left: 221px;
  top: 31px;
  color: #7c7c7c;
  text-decoration: none;
}

.header-nav-bar-item2 {
  position: absolute;
  width: 49px;
  height: 24px;
  left: 363px;
  top: 31px;
  color: #7c7c7c;
  text-decoration: none;
}

.header-nav-bar-item3 {
  position: absolute;
  width: 72px;
  height: 16px;
  left: 469px;
  top: 31px;
  color: #7c7c7c;
  text-decoration: none;
}

.header-nav-bar-item4 {
  position: absolute;
  width: 107px;
  height: 16px;
  left: 598px;
  top: 31px;
  color: #7c7c7c;
  text-decoration: none;
}

.header-nav-bar-item5 {
  position: absolute;
  width: 63px;
  height: 16px;
  left: 1235px;
  top: 27px;
  text-decoration: none;
  color: #ffffff;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}

.header-nav-bar-logo {
  position: absolute;
  height: 44px;
  width: 106px;
  left: 51px;
  top: 21px;
}

.header-nav-bar-arrow {
  position: absolute;
  width: 13px;
  height: 7px;
  left: 314px;
  top: 46px;
}
