@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.ProductShowcase-gradient{
    position: absolute;
    width: 1366px;
    height: 733px;
    left: 0px;
    top: 723px;
    z-index: 2;
    background: linear-gradient(90deg, rgba(196, 196, 196, 0.15) 3.51%, rgba(243, 48, 0, 0.15) 100%);
}

.ProductShowcase-bg{
    position: absolute;
    width: 1366px;
    height: 733px;
    left: 0px;
    top: 723px;
    z-index: -1;
    background:#FFFFFF;

}

.ProductShowcase-title{
    position: absolute;
    width: 693px;
    height: 45px;
    left: 57px;
    top: 780px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    /* identical to box height, or 118% */


    /* purple/purple80 */

    color: #1C1E52;
}

.ProductShowcase-title-highlighter{
    color: #FF3503;
}

.ProductShowcase-img1{
    position: absolute;
    width: 267.41px;
    height: 311.59px;
    left: 302.78px;
    top: 999.41px;
    filter: drop-shadow(-10px 33px 100px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

.ProductShowcase-Container-bg{
    position: absolute;
    width: 320.89px;
    height: 386px;
    left: 699.24px;
    top: 925px;
    
    background: #FFFFFF;
    box-shadow: -10px 33px 100px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    
}

.ProductShowcase-img2{
    position: absolute;
    width: 342.98px;
    height: 295.31px;
    left: 684.13px;
    top: 990.11px;
}

.ProductShowcase-bar1{
    
    position: absolute;
    width: 49.99px;
    height: 99.99px;
    left: 592.28px;
    top: 1211.01px;
    background: #D10D0D;
        
}

.ProductShowcase-bar2{
    position: absolute;
    width: 49.99px;
    height: 308.1px;
    left: 1042.23px;
    top: 1001.73px;
    background: #26840E;


    
}

.ProductShowcase-text-box1{
    position: absolute;
    width: 337px;
    height: 84px;
    left: 303px;
    top: 1357px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */


    color: #000000;

}

.ProductShowcase-text-box2{
    position: absolute;
    width: 250px;
    height: 56px;
    left: 699px;
    top: 1357px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */


    color: #000000;

}